
#ignoring windows, mac and linux folders
windows
mac
linux

#ignoring windows, mac and linux folders
windows
mac
linux
node_modules

#ignoring windows, mac and linux folders
windows
mac
linux
node_modules
